@media (min-width: 901px){
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
            }

            @media (min-width: 901px){
.navbar-expand-md .navbar-toggler {
    display: none;
}
            }


            @media (min-width: 901px){
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
            }